WCFConfigurationDemo/Client1/Service References/HelloServiceProxy/metadatauri.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.mycompany.com/2012/11" elementFormDefault="qualified" targetNamespace="http://www.mycompany.com/2012/11" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MyHelloMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MyHelloMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MyHelloMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>